/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: white;
  scroll-behavior: smooth;
}

h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #ff4c4c;
  display: inline-block;
  padding-bottom: 5px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin-bottom: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
